// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "arial", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$color__primary: #639184;
$color__info: #6da1aa;
$color__warning: #e5c74a;
$color__danger: #b25959;
$color__secondary: #e0d4b1;
$color__light: #eeeeee;
$color__dark: #6b6b6b;
$color__black: #444444;
$color__white: #fff;
